{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "paths": {
      "@/*": [
        "src/*"
      ],
      "modules/*": [
        "src/modules/*"
      ],
      "database/*": [
        "src/database/*"
      ],
      "auth/*": [
        "src/auth/*"
      ]
    },
    "baseUrl": "./"
  },
  "minify": false
}